#container {
    background-image: url("../assets/images/Depositphotos_43107453_l-2015_2x.webp");
    width: 2000px;
    height: 972px;
    position: relative;
}

.button {
    width: 50px;
    height: 50px;
    position: fixed;
    opacity: 0;
}

#counter {
    position: absolute; 
    left: 580px; 
    top: 350px; 
    color: red; 
    font-size: 9em; 
    font-family: 'Courier New', Courier, monospace;font-weight: bolder;
}

#min1 {
    background-color: yellow;
    left: 1070px;
    top: 335px;
}

#min2 {
    background-color: green;
    left: 1140px;
    top: 335px;
}

#min3 {
    background-color: blue;
    left: 1210px;
    top: 335px;
}

#down {
    background-color: purple;
    left: 1070px;
    top: 400px;
}

#up {
    background-color: aqua;
    left: 1140px;
    top: 400px;
}

#reset {
    background-color: orange;
    left: 1070px;
    top: 470px;
}

#stop {
    background-color: pink;
    left: 1140px;
    top: 470px;
}

#start {
    background-color: red;
    left: 1210px;
    top: 400px;
    height: 120px;
}

.txtButton {
    position: fixed;
    color: whitesmoke;
    background-color: #424340;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#txtCaption {
    position: fixed; 
    left: 660px; 
    top: 520px; 
    z-index: 1; 
    color: whitesmoke; 
    background-color: #454545; 
    font-family: Arial, Helvetica, sans-serif;
}

#txtMinute1 {
    left: 1070px;
    top: 385px;
}

#txtMinute2 {
    left: 1135px;
    top: 385px;
}

#txtMinute3 {
    left: 1205px;
    top: 385px;
}

#txtDown {
    left: 1075px;
    top: 455px;
}

#txtUp {
    left: 1140px;
    top: 455px;
}

#txtRestart {
    left: 1065px;
    top: 525px;
    background-color: #5D5B5A;
}

#txtStop {
    left: 1145px;
    top: 525px;
    background-color: #5D5B5A;
}

#txtStart {
    left: 1200px;
    top: 525px;
    background-color: #5D5B5A;
}

.youtube {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#channelLogo {
    background: url('../assets/images/angry-birds-logo.png'); 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    width: 50px; 
    height: 50px;
}

#channelTitle {
    position: absolute; 
    top: 0.5em; 
    left: 4em;
}

#youtubeFrame {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: #FFFFFF; 
    z-index: 2; 
    visibility: collapse;
}

#youtubeContent1 {
    height: 8em;
}

#youtubeContent2 {
    position: fixed; 
    background-color: #EDEDED; 
    width: 100%; 
    height: 26em;
}

#youtubeContent3 {
    position: relative; 
    top: 27em;
    left: 1em;
    width: 100%; 
    height: 25em;
}

#youtubeNavBar {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height: 90%;
}

#youtubeVideo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height: 90%;
}

#youtubeVideoOverlay {
    background-color: black; 
    position: relative; 
    left: 1%; 
    width: 98%; 
    margin-top: 1em;
}

#subscribeButton {
    position: absolute; 
    right: 5em; 
    top: 1em; 
    background: url('../assets/images/youtubekids-subscribe.png'); 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    width: 161px; 
    height: 50px;
}